{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

<h1>Projects</h1>
<h2 class="lead">Create, manage your projects and get tasks from other projets manager</h2>

<button class="btn btn-lg btn-primary modal-new mt-3" data-toggle="modal" data-target="#editModalCenter" data-url="{{ path('project_new', {'redirect': 'project_index' }) }}">
    New project
</button>

<nav class="mt-3 mb-4">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for proj in projects %}
            {% if loop.first %}
                <a class="nav-item nav-link active {% if app.user == proj.manager %}pr-1{% endif %}" id="nav-{{ proj.id }}-tab" data-toggle="tab" href="#nav-{{ proj.id }}" role="tab" aria-controls="nav-{{ proj.id }}" aria-selected="true">
                    {{ proj.name }}
                    {% if app.user == proj.manager %}
                        <button class="btn btn-sm pr-0 modal-edit" data-toggle="modal" data-target="#editModalCenter" data-url="{{ path('project_edit', {'id': proj.id, 'redirect': 'project_index' }) }}"><i class="fas fa-cogs"></i></button>
                        <button class="btn btn-sm pl-1 delete-btn" data-url="{{ path('project_delete', {'id': proj.id }) }}"><i class="fas fa-trash text-danger"></i></button>
                    {% endif %}
                </a>
            {% else %}
                <a class="nav-item nav-link {% if app.user == proj.manager %}pr-1{% endif %}" id="nav-{{ proj.id }}-tab" data-toggle="tab" href="#nav-{{ proj.id }}" role="tab" aria-controls="nav-{{ proj.id }}" aria-selected="false">
                    {{ proj.name }}
                    {% if app.user == proj.manager %}
                        <button class="btn btn-sm pr-0 modal-edit" data-toggle="modal" data-target="#editModalCenter" data-url="{{ path('project_edit', {'id': proj.id, 'redirect': 'project_index' }) }}"><i class="fas fa-cogs"></i></button>
                        <button class="btn btn-sm pl-1 delete-btn" data-url="{{ path('project_delete', {'id': proj.id }) }}"><i class="fas fa-trash text-danger"></i></button>
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">

    {% for proj in projects %}

    <!-- PANE : LIST OF PROJECTS-->
    
    <div class="tab-pane fade show {% if loop.first %}active{% endif %}" id="nav-{{ proj.id }}" role="tabpanel" aria-labelledby="nav-{{ proj.id }}-tab">
        
        {% if app.user == proj.manager %}

        <!-- IF THE USER IS MANAGER OF THIS PROJECT -->

            <small>You are manager of this project.</small>

            <p class="mb-4">
                <a class="btn btn-secondary" data-toggle="collapse" href="#users" role="button" aria-expanded="false" aria-controls="users">
                    Users
                </a>
                <a class="btn btn-secondary ml-2" data-toggle="collapse" href="#usergroups" role="button" aria-expanded="false" aria-controls="usergroups">
                    User groups
                </a><button class="btn btn-primary ml-1 modal-new" data-toggle="modal" data-target="#editModalCenter" data-url="{{ path('user_group_new', {'id': proj.id, 'redirect': 'project_index' }) }}">Add group <i class="fas fa-plus"></i></button>

                <button class="btn btn-warning modal-new" data-toggle="modal" data-target="#editModalCenter" data-url="{{ path('task_new', {'id': proj.id, 'redirect': 'project_index' }) }}">
                    New task <i class="far fa-calendar-plus"></i>
                </button>
            </p>

            <div class="collapse" id="users">
                <div class="card card-body text-dark">
                    <h6 class="card-title">Users</h6>
                    {% if users[proj.id] is defined %}
                        {% for u in users[proj.id] %}
                            <span>{{ u }}</span> 
                        {% endfor %}
                    {% else %}
                        No user assign.
                    {% endif %}
                </div>
            </div>
            <div class="collapse" id="usergroups">
                <div class="card card-body text-dark">
                    <h6 class="card-title">User groups</h6>
                    {% if proj.UserGroups is not empty %}
                        {% for ug in proj.UserGroups %}
                            <span><button class="btn btn-sm delete-btn" data-url="{{ path('user_group_delete', {'id': proj.id }) }}"><i class="fas fa-times"></i></button>
                                <button class="btn btn-sm btn-light modal-edit" data-toggle="modal" data-target="#editModalCenter" data-url="{{ path('user_group_edit', {'id': ug.id, 'redirect': 'project_index' }) }}">
                                    {{ ug }} : {% for u in ug.users %} {% if loop.last %} {{ u }} {% else %} {{ u }}, {% endif %} {% endfor %}
                                </button>
                            </span> 
                        {% endfor %}
                    {% else %}
                            No user group.
                    {% endif %}
                </div>
            </div>

            <h3 class="text-info mt-3">Tasks</h3>
            
            <table class="table table-striped tasks">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Deadline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if tasks_manager[proj.id] is defined %}
                    {% for task in tasks_manager[proj.id] %}
                        <tr>
                            <td class="text-truncate"  style="max-width: 200px;">{{ task.name }}</td>
                            <td class="text-truncate"  style="max-width: 200px;">{{ task.description }}</td>
                            <td>{{ task.priority }}</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.deadline ? task.deadline|date('d-m-Y') : '' }}</td>
                            <td class="text-right">
                                {% if task.project.manager == app.user %}
                                    <button class="btn btn-primary btn-sm text-light modal-edit" data-toggle="modal" data-target="#editModalCenter" data-url="{{ path('task_edit', {'id': task.id, 'redirect': 'project_index' }) }}">Show <i class="fas fa-eye"></i></button>
                                    <button class="btn btn-warning btn-sm delete-btn" data-url="{{ path('task_delete', {'id': task.id }) }}"><i class="far fa-minus-square"></i></button>
                                {% endif %}
                                <button class="btn btn-success btn-sm complete-btn" data-url="{{ path('task_done', {'id': task.id }) }}"><i class="far fa-check-circle"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No tasks found, please create one.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            <hr class="mb-4">
        
            <h3 class="text-secondary">Tasks done</h3>
            
            <table class="table table-striped nowrap tasks">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Deadline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if tasks_manager_done[proj.id] is defined %}
                    {% for task in tasks_manager_done[proj.id] %}
                        <tr>
                            <td class="text-truncate"  style="max-width: 200px;">{{ task.name }}</td>
                            <td class="text-truncate"  style="max-width: 200px;">{{ task.description }}</td>
                            <td>{{ task.priority }}</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.deadline ? task.deadline|date('d-m-Y') : '' }}</td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-primary restore-btn" data-url="{{ path('task_restore', {'id': task.id }) }}">Restore <i class="fas fa-undo"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td colspan="8">No tasks done, complete a task first.</td>
                        </tr>
                {% endif %}
                </tbody>
            </table>

        {% else %}

        <!-- IF THE USER IS NOT MANAGER OF THIS PROJECT -->

            <h3 class="text-info">Tasks</h3>
            
            <table class="table table-striped tasks">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Deadline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if tasks_user[proj.id] is defined %}
                    {% for task in tasks_user[proj.id] %}
                        <tr>
                            <td class="text-truncate"  style="max-width: 200px;">{{ task.name }}</td>
                            <td class="text-truncate"  style="max-width: 200px;">{{ task.description }}</td>
                            <td>{{ task.priority }}</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.deadline ? task.deadline|date('d-m-Y') : '' }}</td>
                            <td class="text-right">
                                {% if task.project.manager == app.user %}
                                    <button class="btn btn-primary btn-sm text-light modal-edit" data-toggle="modal" data-target="#editModalCenter" data-url="{{ path('task_edit', {'id': task.id, 'redirect': 'project_index' }) }}">Show <i class="fas fa-eye"></i></button>
                                    <button class="btn btn-warning btn-sm delete-btn" data-url="{{ path('task_delete', {'id': task.id }) }}"><i class="far fa-minus-square"></i></button>
                                {% endif %}
                                <button class="btn btn-success btn-sm complete-btn" data-url="{{ path('task_done', {'id': task.id }) }}"><i class="far fa-check-circle"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No tasks found, please create one.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            <hr class="mb-4">
        
            <h3 class="text-secondary">Tasks done</h3>
            
            <table class="table table-striped nowrap tasks">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Deadline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if tasks_manager_done[proj.id] is defined %}
                    {% for task in tasks_manager_done[proj.id] %}
                        <tr>
                            <td class="text-truncate"  style="max-width: 200px;">{{ task.name }}</td>
                            <td class="text-truncate"  style="max-width: 200px;">{{ task.description }}</td>
                            <td>{{ task.priority }}</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.deadline ? task.deadline|date('d-m-Y') : '' }}</td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-primary restore-btn" data-url="{{ path('task_restore', {'id': task.id }) }}">Restore <i class="fas fa-undo"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td colspan="8">No tasks done, complete a task first.</td>
                        </tr>
                {% endif %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% endfor %}
</div>


<!-- MODAL onclick "show" display modal with update form -->

<!-- Modal -->
<div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="editModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalCenter">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- FORM sync call with main_modal.js -->
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('js/main_modal.js') }}"></script>

{% endblock %}